<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
        <footer class="aw-layout-footer  js-content is-toggled" th:fragment="layout-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 container-fluid">
                        <span class="aw-footer-disclaimer">Desenvolvido por <a target="_blank" href="https://www.siklab.tech">SikLab Tech</a></span>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>