<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

    <head>
        <title>Portal Repita</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="page-header">
                <div class="container-fluid">
                    <h1>Bem-vindo<p>&nbsp</p><span th:inline="text">[[${usuarioLogado.nome}]]</span>!</h1>
                </div>
            </div>
        </section>
    </body>
</html>